
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navBar {
  display: inline-flex;
  width: 95%;
  margin-left: 20px;
  margin-right: 40px;
}

.navegation button {
  background:none;
  border:none;
  cursor:pointer;
  font-size: larger;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.ItemList {
  width: 100px;
  display: inline-flex;
}